/* här står det högtider sidorna för de olika högtider som finns*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Påsk */



.container img {
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 30px;
    width: 1000px;
    display: flex;
}

.påsk {
    font-size: 20px;
    width: 800px;
    padding-left: 70px;
    padding-bottom: 200px;
    padding-top: 20px;
}

.på {
    font-size: 50px;
    padding-left: 100px;
    padding-top: 30px;
}

.Nahire {
    font-size: 20px;
    width: 800px;
    padding-left: 70px;
    padding-bottom: 200px;
    padding-top: 20px;
}

.Na {
    font-size: 50px;
    padding-left: 70px;
    padding-top: 30px;
}

.firdatum {
    font-size: 30px;
    padding-left: 70px;
    padding-bottom: 170px;
}

.trettondedag {
    font-size: 20px;
    width: 800px;
    padding-left: 70px;
    padding-bottom: 90px;
    padding-top: 20px;
}

.tre {
    font-size: 50px;
    padding-left: 70px;
    padding-top: 30px;
}

.jul {
    font-size: 20px;
    width: 800px;
    padding-left: 70px;
    padding-bottom: 90px;
    padding-top: 20px;
}

.ju {
    font-size: 50px;
    padding-left: 70px;
    padding-top: 30px;
}

.jungfru {
    font-size: 20px;
    width: 800px;
    padding-left: 70px;
    padding-bottom: 200px;
    padding-top: 20px;
}

.jung {
    font-size: 50px;
    padding-left: 70px;
    padding-top: 30px;
}

.långFredagen {
    font-size: 20px;
    width: 800px;
    padding-left: 70px;
    padding-bottom: 200px;
    padding-top: 20px;
}

.lång {
    font-size: 50px;
    padding-left: 70px;
    padding-top: 30px;
}



@media screen and (max-width: 1100px) {


    .container img {
        width: 500px;
    }

    .på {
        font-size: 30px;
        padding-left: 200px;
        padding-top: 30px;
    }

    .pin {
        font-size: 30px;
        padding-left: 130px;
        padding-top: 30px;
    }

    .ju {
        font-size: 30px;
        padding-left: 140px;
        padding-top: 30px;
    }

    .lång {
        font-size: 30px;
        padding-left: 170px;
        padding-top: 30px;
    }

    .tre {
        font-size: 30px;
        padding-left: 70px;
        padding-top: 30px;

    }

    .jung {
        font-size: 30px;
        padding-left: 70px;
        padding-top: 30px;
    }

    .container p {
        display: flex;
        text-align: center;
        padding-right: 300px;
    }
}