@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* front screen left and right imgs */


.left-side {
  padding-top: 10px;
  width: 50%;
  height: 100%;
}

.left-side img {
  width: 100%;
  height: 810px;
  float: left;
  border-right: solid #222;
  border-top: solid #222;
  border-bottom: solid #222;
}


.right-side {
  margin-bottom: 10px;
  width: 100%;
  height: 810px;
  padding-left: 800px;
  border-top: solid #222;
  border-bottom: solid #222;
  background: linear-gradient(to right, white 20%, white 60%, red 100%, white 80%);
}

.right-side p {
  color: #222;
  font-size: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.textright {
  padding-top: 170px;
}

@media screen and (width: 1920px) {
  .right-side {
    width: 100%;
    height: 810px;
    padding-left: 1100px;
    border-top: solid #222;
    border-bottom: solid #222;
    background: linear-gradient(to right, white 20%, red 100%, white 80%);
  }

  #footer-email {
    overflow: hidden;
    width: 300px;
  }

  #footer-email-btn {
    width: 100px;
  }

  .footer-heading {
    padding-left: 81px;
    padding-bottom: 40px;
  }

}

@media screen and (width: 1366px) {
  .right-side {
    width: 100%;
    height: 810px;
    padding-left: 800px;
    border-top: solid #222;
    border-bottom: solid #222;
    background: linear-gradient(to right, white 20%, red 100%, white 80%);
  }

  .footer-heading {
    padding-left: 81px;
    padding-bottom: 40px;
  }



}

/* footer */

.footer-container {
  padding-top: 80px;
  background-color: #212329;
  padding-bottom: 440px;
}

.footer {
  width: 80%;
  height: 40vh;
  background-color: #212329;
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}

.footer-heading h2 {
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-heading a,
span {
  color: #fff;
  text-decoration: none;
  margin-bottom: 1rem;
}

.footer-heading a:hover {
  color: #999;
  transition: 0.3s ease-out;
}

.footer-email-form h2 {
  padding-top: 50px;
  margin-bottom: 2rem;
  text-align: center;
}

#footer-email {
  border: 2px solid rgba(200, 0, 0, 0.7);
  outline: none;
  border-radius: 4rem;
  padding-left: 14px;
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  font-weight: 500;
  width: 600px;
  height: 60px;
  background-color: var(--white-color);
  box-shadow: 0 4px 24px hsla(222, 68%, 12%, 0.1);
  border-radius: 4rem;
}

#footer-email-btn {
  margin-left: 10px;
  width: 100px;
  height: 60px;
  background-color: var(--white-color);
  border: none;
  border-radius: 4rem;
  padding: 15px;
}

#footer-email-btn:active {
  border: 2px solid rgba(200, 0, 0, 0.7);
}

/* navigation*/

a,
a:hover {
  text-decoration: none;
}


nav {
  background: linear-gradient(to right, white, red 100%, white 10%);
  border-bottom: solid #222;
  /* here tooo*/
  padding: 5px 20px;
  display: flex;
  align-items: center;
}

nav a {
  color: #fff;
  /*still tinking of color??? and hover tag down there*/
}


.logo {
  flex: 1;
}

.logo a {
  align-items: center;
  font-size: 20px;
}


.logo img {
  width: 120px;
  margin-right: 10px;
}

.logo p {
  align-items: center;
  font-size: 25px;
  padding-left: 120px;

}

/* menu */

.menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.menu .menu-nav {
  padding: 20px 10px;
  font-size: 16px;
}

.menu p {
  color: #000;
  font-weight: 600;
  font-size: 25px;
  display: flex;
  overflow: hidden;
  padding-right: 360px;
}

.toggle {
  font-size: 30px;
  display: none;
}

.menu input {
  border-radius: 10px;
  font-size: 20px;
  color: black;
  height: 40px;
}


@media screen and (max-width: 1100px) {
  nav {
    display: block;
    position: relative;
    padding: 15px 20px;
  }

  .menu {
    margin-top: 15px;
    display: none;
  }

  .menu.active,
  .toggle {
    display: block;
  }

  .toggle {
    position: absolute;
    top: 40px;
    right: 20px;
  }

  .left-side {
    width: 100%;
    float: right;
  }

  .left-side img {
    width: 100%;
    height: 720px;
  }


  .right-side {
    border-top: solid #222;
    margin-top: 700px;
    height: 720px;
  }

  .right-side p {
    font-size: 50px;
  }

  .textright {
    overflow: hidden;
    float: right;
    margin-top: 100px;
    margin-right: 350px;
  }

  #footer-email {
    overflow: hidden;
    width: 300px;
  }

  #footer-email-btn {
    overflow: hidden;
    width: 100px;
  }

  .footer-heading {
    padding-left: 10px;
    padding-bottom: 40px;
  }

  .search {
    left: 10px;
  }

}


/*btn*/

.btn {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: var(--white-color);
  color: var(--dark-color);
  box-shadow: 0 4px 24px hsla(222, 68%, 12%, 0.1);
  border-radius: 4rem;
  padding: 15px;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}

.btn:hover {
  background-color: #999;
}


/*btn active*/

.btn.activ {
  background-color: #222;
  color: #fff;
}


/* Search bar */
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #fff;
  --dark-color: hsl(222, 24%, 8%);
  --title-color: hsl(222, 8%, 8%);
  --text-color-light: hsl(222, 8%, 65%);
  --white-color: #fff;
  --body-color: hsl(222, 100%, 99%);


  --body-font: "Poppins", sans-serif;
  --small-font-size: .813rem;
}

@media screen and (min-width: 968px) {
  :root {
    --small-font-size: .875rem;
  }
}


.search {
  position: relative;
  right: 50px;
  width: 60px;
  height: 60px;
  background-color: var(--white-color);
  box-shadow: 0 4px 24px hsla(222, 68%, 12%, 0.1);
  border-radius: 4rem;
  padding: 15px;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}

.search:hover {
  background-color: #999;
}

.search__input {
  border: none;
  outline: none;
  width: calc(100% - 60px);
  height: 100%;
  border-radius: 4rem;
  padding-left: 18px;
  padding-bottom: 4px;
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  font-weight: 500;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s;
}

.search__input:-webkit-autofill {
  box-shadow: 0 0 0 100px var(--white-color) inset;
}

.search__button {
  width: 40px;
  height: 40px;
  background-color: var(--dark-color);
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: transform 0.6s cubic-bezier(0.9, 0, 0.3, 0.9);
}

.search__icon,
.search__close {
  color: var(--white-color);
  font-size: 1.5rem;
  position: absolute;
  transition: opacity 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}

.search__close {
  opacity: 0;
}

/* Search animated */
.show-search {
  width: 100%;
}

.show-search .search__input {
  opacity: 1;
  pointer-events: initial;
}

.show-search .search__button {
  transform: rotate(90deg);
}

.show-search .search__icon {
  opacity: 0;
}

.show-search .search__close {
  opacity: 1;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .show-search {
    width: 400px;
  }
}